@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.both-side-white-space {
    margin: auto;
    width: 90%;
}

header {
    /* background-color: #272727c5; */
    /* -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px); */
    height: 60px;
    position: fixed;
    width: 100%;
}

#header-menu {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: space-between;
}

#logo {
    color: #fff;
    font-family: "Italiana", sans-serif;
    font-size: 36px;
}

ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

ul > li {
    font-family: "Poiret One", sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

ul a {
    color: #fff;
    text-decoration: none;
}

#hero {
    height: 600px;
    background-color: #1E181C;
    /* background-image: url(assets/images/hero_bg.png); */
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: 100%;
    color: white;
}

.hero-content-wrapper {
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: center;
    position: relative;
}

.headline {
    /* background-color: green; */
    height: 125px;
    width: 425px;
    position: relative;
}

.headline h1 {
    font-family: "Italiana", sans-serif;
    font-size: 75px;
    font-weight: 400;
}

.headline p {
    bottom: 10px;
    font-family: "Italiana", sans-serif;
    font-size: 32px;
    font-weight: 400;
    position: absolute;
    right: 0;
}

.subheadline {
    font-family: "Poppins", system-ui;
    font-size: 16px;
    width: 425px;
}

.photo_frame {
    height: 480px;
    /* width: 300; */
    background-color: white;
    padding: 15px;
    position: absolute;
    right: 50px;
    top: 100px;
    transform: rotate(-10deg);
    box-shadow: -5px 5px 1px rgba(0, 0, 0, 0.479);
    z-index: 2;
}

.photo_frame img, .photo_frame_2 img {
    height: 380px;
    width: 340px;
    object-fit: cover;
    filter: grayscale(1);
    transition: 300ms ease-in-out;
}

.photo_frame img:hover, .photo_frame_2 img:hover {
    filter: grayscale(0);
}

.photo_frame_2 {
    height: 480px;
    /* width: 300px; */
    background-color: white;
    padding: 15px;
    position: absolute;
    right: 350px;
    box-shadow: -5px 5px 1px rgba(0, 0, 0, 0.479);
    transform: rotate(5deg);
    top: 60px;
    z-index: 1;
}

/* shutters section start*/

#shutters {
    height: 100vh;
    min-height: 735px;
}

.shutters_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.shutters_wrapper h2:nth-child(1) {
    font-family: "Italiana", sans-serif;
    font-size: 46px;
    font-weight: 600;
    margin: 40px;
}

.shutters_shadow {
    /* color: transparent; */
    font-family: "Italiana", sans-serif;
    font-size: 150px;
    position: absolute;
    top: 30px;
    opacity: .1;
    /* -webkit-text-stroke-width: .1px;
    -webkit-text-stroke-color: black; */
}

.preview_images {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 490px;
    width: 100%;
    /* background-color: red; */
    position: relative;
}

.preview_image {
    height: 440px;
    width: 330px;
    background-color: white;
    padding: 15px;
    /* position: absolute;
    right: 50px;
    top: 100px; */
    /* transform: rotate(-10deg); */
    box-shadow: 0px 19px 8px rgba(0, 0, 0, 0.3);
    /* z-index: 2; */
}

.preview_image img {
    height: 350px;
    width: 300px;
    object-fit: cover;
    /* filter: grayscale(1); */
    /* transition: 300ms ease-in-out; */
}

.preview_images>.preview_image:nth-child(1) {
    transform: rotate(-10deg);
    position: absolute;
    left: 220px;
    z-index: 5;
}

.preview_images>.preview_image:nth-child(2) {
    /* transform: rotate(-3deg) scale(0.9); */
    /* position: absolute; */
    /* left: 400px; */
}

.preview_images>.preview_image:nth-child(3) {
    transform: rotate(11deg);
    position: absolute;
    left: 810px;
}

.preview_images>.preview_image:nth-child(4) {
    transform: rotate(5deg);
    /* position: absolute; */
    /* left: 976px; */
}

.see_more {
    font-size: 26px;
    font-family: "Italiana", sans-serif;
    margin-bottom: 20px;

}

.shutters_wrapper > a {
    background-color: #1E181C;
    color: white;
    font-family: "Poppins", system-ui;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 3px;
    padding: 5px 20px;
    text-decoration: none;
    margin-bottom: 35px;
    transition: 400ms ease-in-out;
}

.shutters_wrapper > a:hover {
    box-shadow: 5px 5px #00000091; 
    transform: translate(-5px, -5px);
}

/* shutters section end*/

/* footer section start*/

#footer {
    background-color: #1E181C;
    color: #fff;
    height: 100px;
}

footer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.social_icons {
    display: flex;
    gap: 26px;
}

.social_icons i {
    color: black;
    font-size: 26px;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    font-family: "Poiret One", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
}
/* footer section end*/

